<form id="clientForm" name="clientForm">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{modalTitle}}</h3>
    </div>
    <div class="modal-body" id="modal-body" dw-loading="client">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" class="form-control" placeholder="Nombre" required="" autofocus="" ng-model="client.name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="code">Código</label>
                    <input ng-disabled="client._id" type="text" id="code" class="form-control" placeholder="Código" required="" autofocus="" ng-model="client.code">
                </div>
            </div>
        </div>
        <hr/>
        <h4>Base de Datos</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dbserver">Server</label>
                    <input type="text" id="dbserver" class="form-control" placeholder="gesthosp_..." autofocus="" ng-model="client.dbServername">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dbhost">Hostname</label>
                    <input type="text" id="hostname" class="form-control" placeholder="IP o URL" autofocus="" ng-model="client.dbHost">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dbport">Puerto</label>
                    <input type="number" min="0" id="dbport" class="form-control" placeholder="2638" autofocus="" ng-model="client.dbPort">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dbuser">Usuario</label>
                    <input type="text" id="dbuser" class="form-control" placeholder="Usuario de acceso" autocomplete="new-password" autofocus="" ng-model="client.dbUsername">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="dbpwd">Contraseña</label>
                    <input type="password" id="dbpwd" class="form-control" placeholder="" autocomplete="new-password" autofocus="" ng-model="client.dbPassword">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="clientForm.$invalid" ng-click="$close(client)">Aceptar</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancelar</button>
    </div>
</form>
