<form name="userForm">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{modalTitle}}</h3>
    </div>
    <div class="modal-body" id="modal-body" dw-loading="user">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password">Nueva Contraseña</label>
                    <input type="password" id="password" autocomplete="new-password" class="form-control" placeholder="Contraseña" required="" autofocus="" ng-model="user.newPassword">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password2">Repetir Contraseña</label>
                    <input type="password" id="password2" autocomplete="new-password" class="form-control" placeholder="Repita la contraseña" required="" autofocus="" ng-model="user.newPassword2" compare-to="user.newPassword">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="userForm.$invalid" ng-click="$close(user)">Aceptar</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancelar</button>
    </div>
</form>
