<form name="userForm">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{modalTitle}}</h3>
    </div>
    <div class="modal-body" id="modal-body" bs-loading-overlay="user">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" class="form-control" placeholder="Nombre" required="" autofocus="" ng-model="user.name">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input ng-disabled="user._id" type="text" id="username" class="form-control" placeholder="Usuario" required="" autofocus="" ng-model="user.username">
                </div>
            </div>
            <div ng-if="!user._id">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" id="password" autocomplete="new-password" class="form-control" placeholder="Contraseña" required="" autofocus="" ng-model="user.password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password2">Repetir Contraseña</label>
                        <input type="password" id="password2" autocomplete="new-password" class="form-control" placeholder="Repita la contraseña" required="" autofocus="" ng-model="user.password2" compare-to="user.password">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <div class="checkbox checkbox-primary">
                        <input type="checkbox" id="active" value="false" ng-model="user.admin">
                        <label for="active">Administrador</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="userForm.$invalid" ng-click="$close(user)">Aceptar</button>
        <button class="btn btn-warning" type="button" ng-click="$dismiss()">Cancelar</button>
    </div>
</form>
