<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Turnos del Profesional, Cliente: {{client.code}}</h3>
</div>
<div class="modal-body" id="modal-body" dw-loading="turnosProfesional">
    <form name="turnosProfesionalForm">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="profesional">ID del Profesional</label>
                    <input type="number" id="profesional" min="1" class="form-control" placeholder="ID del Profesional" required="" autofocus="" ng-model="formData.profesional">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" ng-disabled="turnosProfesionalForm.$invalid" ng-click="viewTurnosProfesional(formData)">Consultar</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="$dismiss()">Cerrar</button>
</div>