<uib-tabset type="pills" style="margin-top:1rem!important;">
    <uib-tab index="0" heading="Clientes">
        <div class="row">
            <div class="col-md-12" bs-loading-overlay="clients">
                <h2>Clientes</h2>
                <div class="table-responsive">
                    <table datatable="ng" dt-options="vmC.dtOptions" dt-column-defs="vmC.dtColumnDefs" class="table table-custom table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="fit" style="min-width:150px;">Código</th>
                                <th>Nombre</th>
                                <th class="not-sortable" style="width:275px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="client in clients">
                                <td>{{client.code}}</td>
                                <td>{{client.name}}</td>
                                <td>
                                    <button class="btn btn-default" uib-tooltip="Editar" ng-click="editClient(client)"><i class="glyphicon glyphicon-edit"></i></button>
                                    <button class="btn btn-default" uib-tooltip="Clonar" ng-click="cloneClient(client)"><i class="glyphicon glyphicon-duplicate"></i></button>
                                    <button class="btn btn-warning" uib-tooltip="Eliminar" ng-click="removeClient(client)"><i class="glyphicon glyphicon-remove"></i></button>
                                    <div class="btn-group pull-right" uib-dropdown>
                                        <button class="btn btn-primary" uib-tooltip="Más acciones..." uib-dropdown-toggle><span class="glyphicon glyphicon-menu-hamburger"></span></button>
                                        <ul class="dropdown-menu" uib-dropdown-menu>
                                            <li><a ng-click="viewTable(client, 'profesionales')" href="">Profesionales</a></li>
                                            <li><a ng-click="viewTable(client, 'especialidades')" href="">Especialidades</a></li>
                                            <li><a ng-click="viewTable(client, 'turnos')" href="">Turnos</a></li>
                                            <li class="divider"></li>
                                            <li><a ng-click="turnosProfesional(client)" href="">Turnos del Profesional...</a></li>
                                            <li class="disabled"><a href="">En construcción...</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1" heading="Usuarios">
        <div class="row">
            <div class="col-md-12" bs-loading-overlay="users">
                <h2>Usuarios</h2>
                <div class="table-responsive">
                    <table datatable="ng" dt-options="vmU.dtOptions" dt-column-defs="vmU.dtColumnDefs" class="table table-custom table-striped table-bordered table-hover dataTable">           
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th class="fit">Usuario</th>
                                <th class="fit">Administrador</th>
                                <th class="not-sortable" style="width:220px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{user.name}}</td>
                                <td>{{user.username}}</td>
                                <td class="text-center"><div class="checkbox checkbox-primary"><input disabled type="checkbox" ng-model="user.admin"><label></label></div></td>
                                <td>
                                    <button class="btn btn-default" uib-tooltip="Editar" ng-click="editUser(user)"><i class="glyphicon glyphicon-edit"></i></button>
                                    <button class="btn btn-default" uib-tooltip="Permisos de Clientes" ng-click="userPermissions(user)"><i class="glyphicon glyphicon-wrench"></i></button>
                                    <button class="btn btn-default" uib-tooltip="Restablecer Contraseña" ng-click="resetPassword(user)"><i class="glyphicon glyphicon-asterisk"></i></button>
                                    <button class="btn btn-warning" uib-tooltip="Eliminar" ng-click="removeUser(user)"><i class="glyphicon glyphicon-remove"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
