swagger: '2.0'
info:
  description: API de servicios REST para la conexión a los productos de la familia Higea
  version: 0.0.1
  title: Higea API
  termsOfService: ''
  contact:
    email: mbustos@folderit.net
  license:
    name: ISC
    url: 'https://www.isc.org/downloads/software-support-policy/isc-license/'
host: higea.folderit.net
basePath: /api
schemes:
  - http
paths:
  '/login':
    post:
      tags:
        - Login
      summary: Obtención de token de autenticación
      description: >-
        Se debe enviar un usuario y contraseña válidos. Si el usuario es
        administrador, contará con acceso a todos los clientes. Si no es
        administrador, sólo podrá realizar operaciones sobre los clientes que
        tenga habilitados.
      operationId: login
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "Datos de usuario a autenticar"
          required: true
          schema:
            $ref: "#/definitions/Usuario"
      responses:
        '200':
          $ref: '#/responses/Login'
        '400':
          $ref: '#/responses/BadRequest'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/profesionales':
    get:
      tags:
        - Profesionales
      summary: Obtener todos los profesionales del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los profesionales. Por defecto, se obtienen los primeros 100
        registros. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getProfesionales
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: profesional_id
          in: query
          description: ID del profesional a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/Profesionales'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/especialidades':
    get:
      tags:
        - Especialidades
      summary: Obtener todas las especialidades configuradas en el cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener las especialidades. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getEspecialidades
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: especialidad_id
          in: query
          description: ID de la especialidad a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/Especialidades'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/turnos':
    get:
      tags:
        - Turnos
      summary: Obtener los turnos más recientes del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los turnos. Por defecto se obtienen los últimos 100 turnos (más
        recientes). En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getTurnos
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: turnos_id
          in: query
          description: ID del turno a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/Turnos'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
responses:
  Login:
    description: Login exitoso
    schema:
      title: "Login"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            token:
              type: string
              description: "El token debe enviarse en las propiedades de autenticación del header de todas las solicitudes"
  Profesionales:
    description: Consulta exitosa
    schema:
      title: "Turnos"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Profesional'
  Especialidades:
    description: Consulta exitosa
    schema:
      title: "Turnos"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Especialidad'
  Turnos:
    description: Consulta exitosa
    schema:
      title: "Turnos"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    allOf:
                      - $ref: '#/definitions/Especialidad'
                      - $ref: '#/definitions/Profesional'
                      - $ref: '#/definitions/Turno'
  BadRequest:
    description: "Solicitud inválida"
    schema:
      $ref: '#/definitions/Error'
  Unauthorized:
    description: "Autenticación inválida"
    schema:
      $ref: '#/definitions/Error'
  Forbidden:
    description: "No tiene permisos suficientes"
    schema:
      $ref: '#/definitions/Error'
  InternalError:
    description: "Error interno del servidor"
    schema:
      $ref: '#/definitions/Error'
securityDefinitions:
  basicAuth:
    type: basic
security:
  - basicAuth: []
definitions:
  Response:
    type: object
    properties:
      result:
        type: boolean
        default: 'true'
        description: "Si la respuesta es satisfactoria, esta propiedad será true. De otra forma, será false."
  Error:
    type: object
    properties:
      result:
        type: boolean
        default: false
        description: "El valor siempre será falso"
      err:
        type: string
        description: "Mensaje descriptivo del error"
  Column:
    type: object
    properties:
      name:
        type: string
        description: "Nombre de la columna en la base de datos"
      type:
        type: string
        description: "Tipo de dato almacenado"
      label:
        type: string
        description: "Nombre descriptivo de la columna"
  Usuario:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
  Profesional:
    type: object
    properties:
      profesional_id:
        type: number
        description: "ID único del profesional"
      persona_apellido:
        type: string
      persona_nombres:
        type: string
      persona_documento_nro:
        type: string
      especialidad_id:
        type: number
        description: "ID de la especialidad del profesional"
      profesional_clinica:
        type: string
      persona_fecha_ingreso:
        type: string
        format: date
      persona_observaciones:
        type: string
  Especialidad:
    type: object
    properties:
      especialidad_id:
        type: number
        description: "ID único de la especialidad"
      especialidad_nombre:
        type: string
      especialidad_abreviatura:
        type: string
      especialidad_observaciones:
        type: string
  Turno:
    type: object
    properties:
      turnos_id:
        type: number
        description: "ID único del turno"
      paciente_id:
        type: number
      profesional_id:
        type: number
        description: "ID del profesional a cargo del turno"
      efector_id:
        type: number
        description: "ID del profesional que efectuó el turno (ya sea consulta, estudio, etc.)"
      grupo_atencion_id:
        type: number
      servicio_id:
        type: number
      obra_social_id:
        type: number
      plan_os_id:
        type: number
      estado_turno_id:
        type: number
        description: "ID del estado actual del turno"
      derivador_id:
        type: number
        description: "ID del profesional que realizó la derivación del turno"
      tipo_turno_fac_id:
        type: number
      tot_id:
        type: number
        description: "ID del tipo de origen del turno"
      turno_fecha:
        type: string
        format: date
      turno_hora:
        type: string
        format: time
      turno_sobreturno:
        type: string
      turno_hora_actual:
        type: string
        format: time
        description: "Hora de atención efectiva del turno"
      turno_primera_vez:
        type: number
      turno_duracion:
        type: number
        description: "Duración del turno en minutos"
      turno_factor_duracion:
        type: number
        description: "Factor de multiplicación de la duración del turno"
      turno_asistencia:
        type: string
      turno_pasado:
        type: string
