swagger: '2.0'
info:
  description: API de servicios REST para la conexión a los productos de la familia Higea
  version: 0.0.1
  title: Higea API
  termsOfService: ''
  contact:
    email: mbustos@folderit.net
  license:
    name: ISC
    url: 'https://www.isc.org/downloads/software-support-policy/isc-license/'
host: higea.folderit.net
basePath: /api
schemes:
  - http
paths:
  '/login':
    post:
      tags:
        - Login
      summary: Obtención de token de autenticación
      description: >-
        Se debe enviar un usuario y contraseña válidos. Si el usuario es
        administrador, contará con acceso a todos los clientes. Si no es
        administrador, sólo podrá realizar operaciones sobre los clientes que
        tenga habilitados.
      operationId: login
      produces:
        - application/json
      parameters:
        - in: "body"
          name: "body"
          description: "Datos de usuario a autenticar"
          required: true
          schema:
            $ref: "#/definitions/Usuario"
      responses:
        '200':
          $ref: '#/responses/Login'
        '400':
          $ref: '#/responses/BadRequest'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/profesionales':
    get:
      tags:
        - Profesionales
      summary: Obtener todos los profesionales del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los profesionales. Por defecto, se obtienen los primeros 100
        registros. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getProfesionales
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: profesional_id
          in: query
          description: ID del profesional a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/Profesionales'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/pacientes':
    get:
      tags:
        - Pacientes
      summary: Obtener los pacientes del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los pacientes. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getPacientes
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: paciente_id
          in: query
          description: ID del paciente a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/Pacientes'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
    post:
      tags:
        - Pacientes
      summary: Ingreso/modificación de pacientes
      description: >-
        Se debe especificar el código único del cliente al que se le cargará el
        paciente. Las columnas no requeridas se completarán automáticamente en base
        a los datos ingresados (por ejemplo, los IDs de provincia y país del paciente
        se buscarán según la localidad ingresada). ~~Si se completa el ID del paciente,
        se actualizará el registro (en caso que exista).~~ (aún no implementado)
      operationId: postPacientes
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: "#/definitions/Paciente"
      responses:
          '200':
            $ref: '#/responses/Turnos'
          '400':
            $ref: '#/responses/BadRequest'
          '500':
            $ref: '#/responses/InternalError'
  '/{cliente}/turnos':
    get:
      tags:
        - Turnos
      summary: Obtener los turnos más recientes del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los turnos. Por defecto se obtienen los últimos 100 turnos (más
        recientes). En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getTurnos
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: turnos_id
          in: query
          description: ID del turno a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/Turnos'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
    post:
      tags:
        - Turnos
      summary: Ingreso/modificación de turnos
      description: >-
        Se debe especificar el código único del cliente al que se le cargará el
        turno. Las columnas no requeridas se completarán automáticamente en base
        a los datos ingresados (por ejemplo, el Nº de documento del paciente
        se buscará del ID de paciente ingresado). ~~Si se completa el ID del turno,
        se actualizará el registro (en caso que exista).~~ (aún no implementado)
      operationId: postTurnos
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - in: "body"
          name: "body"
          required: true
          schema:
            $ref: "#/definitions/Turno"
      responses:
          '200':
            $ref: '#/responses/Turnos'
          '400':
            $ref: '#/responses/BadRequest'
          '500':
            $ref: '#/responses/InternalError'
  '/{cliente}/especialidades':
    get:
      tags:
        - Turnos
        - Profesionales
      summary: Obtener todas las especialidades configuradas en el cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener las especialidades. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getEspecialidades
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: especialidad_id
          in: query
          description: ID de la especialidad a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/Especialidades'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/servicios':
    get:
      tags:
        - Turnos
      summary: Obtener los servicios del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los servicios. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getServicios
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: servicio_id
          in: query
          description: ID del servicio a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/Servicios'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/obrasSociales':
    get:
      tags:
        - Pacientes
        - Turnos
      summary: Obtener las obras sociales del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener las obras sociales. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getObrasSociales
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: obra_social_id
          in: query
          description: ID de la obra social a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/ObrasSociales'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/planesObraSocial':
    get:
      tags:
        - Pacientes
        - Turnos
      summary: Obtener los planes de obra social del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los planes de obra social. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getPlanesObraSocial
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: plan_os_id
          in: query
          description: ID del plan de obra social a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/PlanesObraSocial'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/tipoOrigenTurno':
    get:
      tags:
        - Turnos
      summary: Obtener los tipos de origen de turno del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los tipos de origen de turno. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getTipoOrigenTurno
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: tot_id
          in: query
          description: ID del tipo de origen de turno a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/TipoOrigenTurno'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/tipoTurnoFac':
    get:
      tags:
        - Turnos
      summary: Obtener los tipos de turno del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los tipos de turno. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getTipoTurnoFac
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: tipo_turno_fac_id
          in: query
          description: ID del tipo de turno a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/TipoTurnoFac'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/estadoTurnos':
    get:
      tags:
        - Turnos
      summary: Obtener los estados de turnos del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los estados de turnos. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getEstadoTurnos
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: estado_turno_id
          in: query
          description: ID del estado de turno a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/EstadoTurnos'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/estadoCiviles':
    get:
      tags:
        - Pacientes
      summary: Obtener los estados civiles del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los estados civiles. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getEstadoCiviles
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: estado_civil_id
          in: query
          description: ID del estado civil a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/EstadoCiviles'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/tipoDocumentos':
    get:
      tags:
        - Pacientes
      summary: Obtener los tipos de documento del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los tipos de documento. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getTipoDocumentos
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: documento_id
          in: query
          description: ID del tipo de documento a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/TipoDocumentos'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/paises':
    get:
      tags:
        - Pacientes
      summary: Obtener los países del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los países. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getPaises
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: pais_id
          in: query
          description: ID del país a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/Paises'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/provincias':
    get:
      tags:
        - Pacientes
      summary: Obtener las provincias del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener las provincias. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getProvincias
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: provincia_id
          in: query
          description: ID de la provincia a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/Provincias'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
  '/{cliente}/localidades':
    get:
      tags:
        - Pacientes
      summary: Obtener las localidades del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener las localidades. En la query string se pueden agregar opcionalmente los
        nombres de las columnas disponibles con el valor a consultar.
      operationId: getLocalidades
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: localidad_id
          in: query
          description: ID de la localidad a consultar.
          required: false
          type: string
      responses:
        '200':
          $ref: '#/responses/Localidades'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
        '500':
          $ref: '#/responses/InternalError'
responses:
  Login:
    description: Login exitoso
    schema:
      title: "Login"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            token:
              type: string
              description: "El token debe enviarse en las propiedades de autenticación del header de todas las solicitudes"
  Profesionales:
    description: Consulta exitosa
    schema:
      title: "Turnos"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Profesional'
  Especialidades:
    description: Consulta exitosa
    schema:
      title: "Turnos"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Especialidad'
  Turnos:
    description: Consulta exitosa
    schema:
      title: "Turnos"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    allOf:
                      - $ref: '#/definitions/Especialidad'
                      - $ref: '#/definitions/Profesional'
                      - $ref: '#/definitions/Turno'
  Pacientes:
    description: Consulta exitosa
    schema:
      title: "Pacientes"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Paciente'
  ObrasSociales:
    description: Consulta exitosa
    schema:
      title: "Obras Sociales"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/ObraSocial'
  PlanesObraSocial:
    description: Consulta exitosa
    schema:
      title: "Planes de Obra Social"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/PlanObraSocial'
  Servicios:
    description: Consulta exitosa
    schema:
      title: "Servicios"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Servicio'
  TipoOrigenTurno:
    description: Consulta exitosa
    schema:
      title: "Tipos de Origen de Turno"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/TipoOrigenTurno'
  TipoTurnoFac:
    description: Consulta exitosa
    schema:
      title: "Tipos de Turno"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/TipoTurno'
  EstadoTurnos:
    description: Consulta exitosa
    schema:
      title: "Estados de Turnos"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/EstadoTurno'
  EstadoCiviles:
    description: Consulta exitosa
    schema:
      title: "Estados Civiles"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/EstadoCivil'
  TipoDocumentos:
    description: Consulta exitosa
    schema:
      title: "Tipos de Documentos"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/TipoDocumento'
  Paises:
    description: Consulta exitosa
    schema:
      title: "Países"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Pais'
  Provincias:
    description: Consulta exitosa
    schema:
      title: "Provincias"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Provincia'
  Localidades:
    description: Consulta exitosa
    schema:
      title: "Localidades"
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Localidad'
  BadRequest:
    description: "Solicitud inválida"
    schema:
      $ref: '#/definitions/Error'
  Unauthorized:
    description: "Autenticación inválida"
    schema:
      $ref: '#/definitions/Error'
  Forbidden:
    description: "No tiene permisos suficientes"
    schema:
      $ref: '#/definitions/Error'
  InternalError:
    description: "Error interno del servidor"
    schema:
      $ref: '#/definitions/Error'
securityDefinitions:
  basicAuth:
    type: basic
security:
  - basicAuth: []
definitions:
  Response:
    type: object
    properties:
      result:
        type: boolean
        default: 'true'
        description: "Si la respuesta es satisfactoria, esta propiedad será true. De otra forma, será false."
  Error:
    type: object
    properties:
      result:
        type: boolean
        default: false
        description: "El valor siempre será falso"
      err:
        type: string
        description: "Mensaje descriptivo del error"
  Column:
    type: object
    properties:
      name:
        type: string
        description: "Nombre de la columna en la base de datos"
      type:
        type: string
        description: "Tipo de dato almacenado"
      label:
        type: string
        description: "Nombre descriptivo de la columna"
  Usuario:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
  Profesional:
    type: object
    required:
      [ localidad_id, especialidad_id, persona_apellido, persona_nombres, persona_documento_nro ]
    properties:
      profesional_id:
        type: number
        description: "ID único del profesional"
      localidad_id:
        type: number
        description: "ID de la localidad del profesional"
      especialidad_id:
        type: number
        description: "ID de la especialidad del profesional"
      persona_apellido:
        type: string
      persona_nombres:
        type: string
      persona_documento_nro:
        type: string
      profesional_clinica:
        type: string
        description: "Indica si el profesional es interno de la clínica ('S') o no ('N')"
        default: "S"
        enum:
        - "S"
        - "N"
      persona_fecha_ingreso:
        type: string
        format: date
        description: "Fecha de ingreso del profesional"
      persona_observaciones:
        type: string
        description: "Observaciones del profesional"
      persona_fecha_nacimiento:
        type: string
        format: date
        description: "Fecha de nacimiento"
      persona_sexo:
        type: string
        description: "Indica el género del profesional: 'N' Masculino, 'S' Femenino"
        default: "N"
        enum:
        - "S"
        - "N"
  Especialidad:
    type: object
    properties:
      especialidad_id:
        type: number
        description: "ID único de la especialidad"
      especialidad_nombre:
        type: string
        description: "Nombre de la especialidad"
      especialidad_abreviatura:
        type: string
        description: "Abreviatura de la especialidad"
      especialidad_observaciones:
        type: string
        description: "Observaciones de la especialidad"
  Turno:
    type: object
    required:
      [ paciente_id, profesional_id, servicio_id, estado_turno_id,
      tipo_turno_fac_id, tot_id, turno_tipo_turno, turno_fecha, turno_hora,
      turno_duracion ]
    properties:
      turnos_id:
        type: number
        description: "ID único del turno"
      paciente_id:
        type: number
        description: "ID del paciente"
      profesional_id:
        type: number
        description: "ID del profesional a cargo del turno"
      efector_id:
        type: number
        description: "ID del profesional que efectua la práctica"
      grupo_atencion_id:
        type: number
      servicio_id:
        type: number
        description: "ID del servicio del turno"
      obra_social_id:
        type: number
        description: "ID de obra social"
      plan_os_id:
        type: number
        description: "ID del plan de obra social"
      estado_turno_id:
        type: number
        description: "ID del estado actual del turno"
      derivador_id:
        type: number
        description: "ID del profesional que realizó la derivación del turno"
      tipo_turno_fac_id:
        type: number
        description: "ID del tipo de turno (episodio, consulta, ...)"
      tot_id:
        type: number
        description: "ID del tipo de origen del turno"
      turno_tipo_turno:
        type: number
        description: "ID del tipo de consulta"
      turno_fecha:
        type: string
        format: date
        description: "Fecha del turno"
      turno_hora:
        type: string
        format: time
        description: "Hora del turno"
      turno_sobreturno:
        type: string
        description: "Indica si el turno es sobreturno ('S') o no ('N')"
        default: "N"
        enum:
        - "S"
        - "N"
      turno_hora_actual:
        type: string
        format: time
        description: "Hora de atención efectiva del turno"
      turno_primera_vez:
        type: number
        description: "Indica si el turno es Primera Vez (1) o no (0)"
        default: 0
        enum:
        - 0
        - 1
      turno_duracion:
        type: number
        description: "Duración del turno en minutos"
      turno_factor_duracion:
        type: number
        description: "Factor de multiplicación de la duración del turno. Ejemplo: duración 30, factor 3: turno de 90 minutos de duración"
        default: 1
      turno_asistencia:
        type: string
        default: "N"
        enum:
        - "S"
        - "N"
      turno_pasado:
        type: string
        default: "N"
        enum:
        - "S"
        - "N"
      paciente_nro_doc:
        type: string
        description: "Nro. de documento del paciente"
      paciente_nro_tel:
        type: string
        description: "Nro. de teléfono (particular, celular o laboral) del paciente"
      paciente_nro_afil:
        type: string
        description: "Nro. de afiliado del paciente"
  Paciente:
    type: object
    required:
      [ plan_os_id_1, localidad_id, documento_id, persona_apellido, persona_nombres, persona_documento_nro ]
    properties:
      paciente_id:
        type: number
        description: "ID único del paciente"
      plan_os_id_1:
        type: number
        description: "ID del plan de obra social principal"
      plan_os_id_2:
        type: number
        description: "ID del plan de obra social secundario"
      plan_os_id_3:
        type: number
        description: "ID del plan de obra social terciario"
      pais_id:
        type: number
        description: "ID del país"
      provincia_id:
        type: number
        description: "ID de la provincia"
      localidad_id:
        type: number
        description: "ID de la localidad"
      estado_civil_id:
        type: number
        description: "ID del estado civil"
      documento_id:
        type: number
        description: "ID del tipo de documento"
      persona_apellido:
        type: string
        description: "Apellido"
      persona_nombres:
        type: string
        description: "Nombres"
      persona_fecha_nacimiento:
        type: string
        format: date
        description: "Fecha de nacimiento"
      persona_sexo:
        type: string
        description: "Género del paciente. 'N' Masculino, 'S' Femenino"
        default: "N"
        enum:
        - "S"
        - "N"
      persona_documento_nro:
        type: string
        description: "Nro. de documento del paciente"
      persona_telefono_part_nro:
        type: string
        description: "Nro. de teléfono particular del paciente"
      persona_telefono_cel_nro:
        type: string
        description: "Nro. de teléfono celular del paciente"
      persona_telefono_lab_nro:
        type: string
        description: "Nro. de teléfono laboral del paciente"
      persona_calle_texto:
        type: string
        description: "Domicilio"
      persona_calle_nro:
        type: string
        description: "Nro. de calle"
      persona_departamento_nro:
        type: string
        description: "Nro. de departamento"
      persona_piso_nro:
        type: string
        description: "Nro. de piso"
      persona_email:
        type: string
        description: "Email"
      paciente_os_afiliado1_nro:
        type: string
        description: "Nro. de afiliado principal del paciente"
      paciente_os_afiliado2_nro:
        type: string
        description: "Nro. de afiliado secundario del paciente"
      paciente_os_afiliado3_nro:
        type: string
        description: "Nro. de afiliado terciario del paciente"
  ObraSocial:
    type: object
    properties:
      obra_social_id:
        type: number
        description: "ID único de la obra social"
      empresa_nombre:
        type: string
        description: "Nombre de la obra social"
  PlanObraSocial:
    type: object
    properties:
      plan_os_id:
        type: number
        description: "ID único del plan de obra social"
      obra_social_id:
        type: number
        description: "ID de la obra social asociada"
      plan_os_nombre:
        type: string
        description: "Nombre del plan de obra social"
  Servicio:
    type: object
    properties:
      servicio_id:
        type: number
        description: "ID único del servicio"
      servicio_nombre:
        type: string
        description: "Nombre del servicio"
      servicio_observaciones:
        type: string
        description: "Observaciones del servicio"
      servicio_abreviatura:
        type: string
        description: "Abreviatura del servicio"
  TipoOrigenTurno:
    type: object
    properties:
      tot_id:
        type: number
        description: "ID único del tipo de origen"
      tot_nombre:
        type: string
        description: "Nombre del tipo de origen"
      tot_abrev:
        type: string
        description: "Abreviatura del tipo de origen"
      tot_internacion:
        type: string
        description: "Indica si el servicio corresponde a internación ('S') o no ('N')"
  TipoTurno:
    type: object
    properties:
      tipo_turno_fac_id:
        type: number
        description: "ID único del tipo de turno"
      tipo_turno_fac_nombre:
        type: string
        description: "Nombre del tipo de turno"
  EstadoTurno:
    type: object
    properties:
      estado_turno_id:
        type: number
        description: "ID único del estado de turno"
      estado_turno_nombre:
        type: string
        description: "Nombre del estado de turno"
  EstadoCivil:
    type: object
    properties:
      estado_civil_id:
        type: number
        description: "ID único del estado civil"
      estado_civil_nombre:
        type: string
        description: "Nombre del estado civil"
  TipoDocumento:
    type: object
    properties:
      documento_id:
        type: number
        description: "ID único del tipo de documento"
      documento_abreviatura:
        type: string
        description: "Abreviatura del tipo de documento"
      documento_descripcion:
        type: string
      documento_formato:
        type: string
        description: "Formato estándar del tipo de documento, donde # representa un dígito"
  Pais:
    type: object
    properties:
      pais_id:
        type: number
        description: "ID único"
      pais_nombre:
        type: string
        description: "Nombre"
      pais_abreviatura:
        type: string
        description: "Abreviatura"
  Provincia:
    type: object
    properties:
      provincia_id:
        type: number
        description: "ID único"
      pais_id:
        type: number
        description: "ID del país"
      provincia_nombre:
        type: string
        description: "Nombre"
      provincia_abreviatura:
        type: string
        description: "Abreviatura"
  Localidad:
    type: object
    properties:
      localidad_id:
        type: number
        description: "ID único"
      provincia_id:
        type: number
        description: "ID de la provincia"
      localidad_nombre:
        type: string
        description: "Nombre"
      localidad_codigo_postal:
        type: string
        description: "Código postal de la localidad, idealmente en formato CPA"
