swagger: '2.0'
info:
  description: API de servicios REST para la conexión a los productos de la familia Higea
  version: 0.0.1
  title: Higea API
  termsOfService: ''
  contact:
    email: mbustos@folderit.net
  license:
    name: ISC
    url: 'https://www.isc.org/downloads/software-support-policy/isc-license/'
host: higea.folderit.net
basePath: /api
schemes:
  - http
paths:
  '/{cliente}/profesionales':
    get:
      tags:
        - Profesionales
      summary: Obtener todos los profesionales del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los profesionales. Por defecto, se obtienen los primeros 100
        registros.
      operationId: getProfesionales
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
      responses:
        '200':
          $ref: '#/responses/Profesionales'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
  '/{cliente}/especialidades':
    get:
      tags:
        - Especialidades
      summary: Obtener todas las especialidades configuradas en el cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener las especialidades.
      operationId: getEspecialidades
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
      responses:
        '200':
          $ref: '#/responses/Especialidades'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
  '/{cliente}/turnos':
    get:
      tags:
        - Turnos
      summary: Obtener los turnos más recientes del cliente
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los turnos. Por defecto se obtienen los últimos 100 turnos (más
        recientes)
      operationId: getTurnos
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
      responses:
        '200':
          $ref: '#/responses/Turnos'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
  '/{cliente}/turnos/{profesional}':
    get:
      tags:
        - Turnos
      summary: Obtener los turnos más recientes del profesional
      description: >-
        Se debe especificar el código único del cliente del que se quieren
        obtener los turnos, y el ID del profesional. Por defecto se obtienen los
        últimos 100 turnos (más recientes)
      operationId: getTurnosProfesional
      produces:
        - application/json
      parameters:
        - name: cliente
          in: path
          description: Código único del cliente
          required: true
          type: string
        - name: profesional
          in: path
          description: ID del Profesional
          required: true
          type: string
      responses:
        '200':
          $ref: '#/responses/Turnos'
        '400':
          $ref: '#/responses/BadRequest'
        '401':
          $ref: '#/responses/Unauthorized'
        '403':
          $ref: '#/responses/Forbidden'
responses:
  Profesionales:
    description: Consulta exitosa
    schema:
      title: Turnos
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Profesional'
  Especialidades:
    description: Consulta exitosa
    schema:
      title: Turnos
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Especialidad'
  Turnos:
    description: Consulta exitosa
    schema:
      title: Turnos
      allOf:
        - $ref: '#/definitions/Response'
        - type: object
          properties:
            data:
              type: object
              properties:
                columns:
                  type: array
                  items:
                    $ref: '#/definitions/Column'
                rows:
                  type: array
                  items:
                    $ref: '#/definitions/Turno'
  BadRequest:
    description: Solicitud inválida
    schema:
      $ref: '#/definitions/Error'
  Unauthorized:
    description: Autenticación inválida
    schema:
      $ref: '#/definitions/Error'
  Forbidden:
    description: No tiene permisos suficientes
    schema:
      $ref: '#/definitions/Error'
definitions:
  Response:
    type: object
    properties:
      result:
        type: boolean
        default: 'true'
      data:
        type: object
  Error:
    type: object
    properties:
      result:
        type: boolean
        default: false
      err:
        type: string
  Column:
    type: object
    properties:
      name:
        type: string
      type:
        type: string
      label:
        type: string
  Profesional:
    type: object
    properties:
      profesional_id:
        type: number
      persona_apellido:
        type: string
      persona_nombres:
        type: string
      persona_documento_nro:
        type: string
      especialidad_id:
        type: number
      profesional_clinica:
        type: string
      persona_fecha_ingreso:
        type: string
        format: date
      persona_observaciones:
        type: string
  Especialidad:
    type: object
    properties:
      especialidad_id:
        type: number
      especialidad_nombre:
        type: string
      especialidad_abreviatura:
        type: string
      especialidad_observaciones:
        type: string
  Turno:
    type: object
    properties:
      turnos_id:
        type: number
      paciente_id:
        type: number
      profesional_id:
        type: number
      efector_id:
        type: number
      grupo_atencion_id:
        type: number
      servicio_id:
        type: number
      obra_social_id:
        type: number
      plan_os_id:
        type: number
      estado_turno_id:
        type: number
      derivador_id:
        type: number
      tipo_turno_fac_id:
        type: number
      tot_id:
        type: number
      turno_fecha:
        type: string
        format: date
      turno_hora:
        type: string
        format: time
      turno_sobreturno:
        type: string
      turno_hora_actual:
        type: string
        format: time
      turno_primera_vez:
        type: number
      turno_duracion:
        type: number
      turno_factor_duracion:
        type: number
      turno_asistencia:
        type: string
      turno_pasado:
        type: string
